body {
	background-color: green;
}

.border {
    border: 1px solid grey;
}

.concert {                        /* ARRUMA TAMNHO DA IMAGEM AJUSTANDO A PROPORÇAO*/
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
 
.pad {
    padding: 15px;
}

.feedimages {
	background-color: green; 
	width: 200;
	right: 200;
}
.green{
   width: 100%;
   height: 200px;
   clear: both;
}

.app{
    width:900px;
    margin:auto;
    background:#faa;
    display:flex;
}
.app .colUm{
    flex:2;
    background:#afa;
}
.app .colDois{
    flex:1;
    background:#aaf;
}
.app .colTres{
    flex:3;
    background:#aff;
}


.intercom-lightweight-app-launcher-custom-icon-open {
    max-height: auto;
    max-width: auto;
    opacity: 1;
    transform: rotate(
0deg
) scale(1);
}
img {
    max-width: 100%;
}
img {
    height: auto;
}
img {
    border: 0;
}
* {
    max-height: 1000000px;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}
.imgs {
	display: flex;
	margin-top: 100px;
	box-shadow: 5px;
}

.retangulo {
    width:50px;
    height:50px;
    border: 25px solid;
    display: flex; 
    width: 60%;
  margin: -1px 160px ;
  box-sizing: border-box;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;/* As 4 bordas sólidas com 25px de espessura */ /* cores: topo, direita, inferior, esquerda */
}


div{
	border: 1px solid;
}

.pacote{
	width: 60%;
  margin: 0px 160px ;  
  box-sizing: border-box;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  border: 1px solid;

}

._9AhH0{
	left:0;
	position:absolute;
	top:0
}

.bY2yH{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row} /*CRIA PONTO PEQUENO*/
.Ppjfr{height:60px;padding:16px;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center} /*CRIAR ELEMENTO DO LADO*/

.UE9AK{border-bottom:1px solid #efefef}.UE9AK.wzpSR{height:76px;padding:0 16px 16px}  /*DEIXA RETO*/

.RR-M-{-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;display:block;-webkit-box-flex:0;-webkit-flex:none;-ms-flex:none;flex:none}
.h5uC0{cursor:pointer}
.CfWVH{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;
}

